In [1]:
!wget -nc https://s3.amazonaws.com/leiwen/dmfa/Data.csv

File ‘Data.csv’ already there; not retrieving.

# wrangling data

In [2]:
from IPython.display import Image
url = "https://s3.amazonaws.com/leiwen/dmfa/too_big.jpg"
Image(url=url)

Trifacta cannot handle data larger than 100 migabyte, so we use pandas to do it.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("Data.csv")

In [5]:
data.dtypes

Service Request (SR) Number     object
SR Type Code                    object
SR Description                  object
Owning Department               object
Method Received                 object
SR Status                       object
Status Change Date              object
Created Date                    object
Last Update Date                object
Close Date                      object
SR Location                     object
Street Number                  float64
Street Name                     object
City                            object
Zip Code                         int64
County                          object
State Plane X Coordinate       float64
State Plane Y Coordinate       float64
Latitude Coordinate            float64
Longitude Coordinate           float64
(Latitude.Longitude)            object
Council District                 int64
Map Page                        object
Map Tile                        object
dtype: object

In [6]:
data["Zip Code"] = data["Zip Code"].astype("int")

In [7]:
data["Council District"] = data["Council District"].astype("int")

In [8]:
data.shape

(344794, 24)

drop null values.

In [9]:
data.dropna(axis = 0).shape

(344794, 24)

In [10]:
data = data.dropna(axis = 0)

In [11]:
data.to_csv("Data.csv",index=False)

In [12]:
 !csvstat --count Data.csv

Row count: 344794

In [13]:
%load_ext sql

In [14]:
!dropdb --if-exists -U student project4

create db 'project4'

In [15]:
!createdb -U student project4

In [16]:
%sql postgresql://student@/project4

'Connected: student@project4'

In [17]:
%%sql
DROP TABLE IF EXISTS facts;

Done.

[]

In [18]:
%%sql
CREATE TABLE facts (
SR_Number VARCHAR(30),
SR_Type_Code VARCHAR(30),
SR_Description VARCHAR(100),
Owning_Department VARCHAR(50),
Method_Received VARCHAR(30),
SR_Status VARCHAR(30),
Status_Change_Date TIMESTAMPTZ,
Created_Date TIMESTAMPTZ,
Last_Update_Date TIMESTAMPTZ,
Close_Date TIMESTAMPTZ,
SR_Location VARCHAR(500),
Street_Number VARCHAR(500),
Street_Name VARCHAR(100),
City VARCHAR(100),
Zip_Code INTEGER,
County VARCHAR(100),
State_Plane_X_Coordinate VARCHAR(100),
State_Plane_Y_Coordinate VARCHAR(100),
Latitude_Coordinate NUMERIC,
Longitude_Coordinate NUMERIC,
Latitude_Longitude VARCHAR(500),
Council_District INTEGER,
Map_Page VARCHAR(30),
Map_Tile VARCHAR(30)
)

Done.

[]

In [19]:
%%sql
COPY facts FROM '/home/ubuntu/project4/Data.csv'
CSV
HEADER;

344794 rows affected.

[]

In [20]:
%%sql
SELECT *
FROM facts
LImit 5;

5 rows affected.

[('16-00108244', 'TRASIGMA', 'Traffic Signal - Maintenance', 'Transportation', 'Phone', 'Duplicate (closed)', datetime.datetime(2016, 5, 6, 19, 51, 27, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 19, 51, 27, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 19, 51, 27, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 19, 51, 27, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '6001 MANCHACA RD, AUSTIN, TX 78745', '6001.0', 'MANCHACA', 'AUSTIN', 78745, 'TRAVIS', '3096240.5', '10050194.0', Decimal('30.212694899999995'), Decimal('-97.80152149999999'), '(30.2126949, -97.8015215)', 5, '643M', 'MF17'),
 ('16-00108269', 'TRASIGMA', 'Traffic Signal - Maintenance', 'Transportation', 'Phone', 'Duplicate (closed)', datetime.datetime(2016, 5, 6, 20, 22, 56, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 20, 22, 56, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 20, 22, 56, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 20, 22, 56, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '6001 MANCHACA RD, AUSTIN, TX 78745', '6001.0', 'MANCHACA', 'AUSTIN', 78745, 'TRAVIS', '3096240.5', '10050194.0', Decimal('30.212694899999995'), Decimal('-97.80152149999999'), '(30.2126949, -97.8015215)', 5, '643M', 'MF17'),
 ('16-00324071', 'SWSDEADA', 'ARR Dead Animal Collection', 'Austin Resource Recovery', 'Phone', 'Closed', datetime.datetime(2016, 12, 15, 9, 5, 43, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 12, 15, 6, 41, 40, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 12, 15, 9, 5, 43, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 12, 15, 9, 5, 43, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2200 E OLTORF ST, AUSTIN, TX 78741', '2200.0', 'OLTORF', 'AUSTIN', 78741, 'TRAVIS', '3118116.50749136', '10057053.9397969', Decimal('30.23016411'), Decimal('-97.73177647'), '(30.23016411, -97.73177647)', 3, '615X', 'MJ19'),
 ('16-00108062', 'TRASIGMA', 'Traffic Signal - Maintenance', 'Transportation', 'Phone', 'Duplicate (closed)', datetime.datetime(2016, 5, 10, 16, 56, 52, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 17, 3, 45, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 10, 16, 56, 52, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 10, 16, 56, 52, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '8401 N CAPITAL OF TEXAS HWY NB, AUSTIN, TX 78759', '8401.0', 'CAPITAL OF TEXAS', 'AUSTIN', 78759, 'TRAVIS', '3105863.35797435', '10113092.534133699', Decimal('30.38498865'), Decimal('-97.76647071'), '(30.38498865, -97.76647071)', 10, '494L', 'MH32'),
 ('16-00107654', 'STREETL2', 'Street Light Issue- Address', 'Austin Energy Department', 'Phone', 'Closed', datetime.datetime(2016, 5, 10, 6, 58, 1, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 6, 10, 28, 16, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 10, 6, 58, 1, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 10, 6, 58, 1, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '300 WEST AVE, AUSTIN, TX 78703', '300.0', 'WEST', 'AUSTIN', 78703, 'TRAVIS', '3111493.73999999', '10070696.54', Decimal('30.26808964'), Decimal('-97.75173887'), '(30.26808964, -97.75173887)', 9, '584V', 'MH22')]

Next, we are going to create the dimension table `Date`.

In [21]:
%%sql
DROP TABLE IF EXISTS hour;

CREATE TABLE hour (
    hour_key SERIAL PRIMARY KEY,
    hour CHAR(19),
    day CHAR(10),
    year INTEGER,
    month_of_year_str VARCHAR(12),
    month_of_year INTEGER,
    day_of_month INTEGER,
    day_of_week_str CHAR(9),
    day_of_week INTEGER,
    is_weekend BOOLEAN,
    is_weekday BOOLEAN,
    hour_of_day INTEGER,
    quarter_of_year INTEGER
);

Done.
Done.

[]

In [22]:
%%sql
INSERT INTO hour (hour, day, year, month_of_year_str, month_of_year, day_of_month, 
                  day_of_week_str, day_of_week, is_weekend, is_weekday, 
                  hour_of_day, quarter_of_year)
SELECT DISTINCT TO_CHAR(Status_Change_Date, 'YYYY-MM-DD HH24:00:00') AS hour,
    TO_CHAR(Status_Change_Date, 'YYYY-MM-DD') AS day, 
    CAST(TO_CHAR(Status_Change_Date, 'YYYY') AS INTEGER) AS year,
    TO_CHAR(Status_Change_Date, 'Month') AS month_of_year_str,
    CAST(TO_CHAR(Status_Change_Date, 'MM') AS INTEGER) AS month_of_year,
    CAST(TO_CHAR(Status_Change_Date, 'DD') AS INTEGER) AS day_of_month,
    TO_CHAR(Status_Change_Date, 'Day') AS day_of_week_str,
    CAST(TO_CHAR(Status_Change_Date, 'D') AS INTEGER) AS day_of_week,
    CASE WHEN CAST(TO_CHAR(Status_Change_Date, 'D') AS INTEGER) IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekend,
    CASE WHEN CAST(TO_CHAR(Status_Change_Date, 'D') AS INTEGER) NOT IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekday,
    CAST(TO_CHAR(Status_Change_Date, 'HH24') AS INTEGER) AS hour_of_day,
    CAST(TO_CHAR(Status_Change_Date, 'Q') AS INTEGER) AS quarter_of_year
FROM facts
UNION
SELECT DISTINCT TO_CHAR(Created_Date, 'YYYY-MM-DD HH24:00:00') AS hour,
    TO_CHAR(Created_Date, 'YYYY-MM-DD') AS day, 
    CAST(TO_CHAR(Created_Date, 'YYYY') AS INTEGER) AS year,
    TO_CHAR(Created_Date, 'Month') AS month_of_year_str,
    CAST(TO_CHAR(Created_Date, 'MM') AS INTEGER) AS month_of_year,
    CAST(TO_CHAR(Created_Date, 'DD') AS INTEGER) AS day_of_month,
    TO_CHAR(Created_Date, 'Day') AS day_of_week_str,
    CAST(TO_CHAR(Created_Date, 'D') AS INTEGER) AS day_of_week,
    CASE WHEN CAST(TO_CHAR(Created_Date, 'D') AS INTEGER) IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekend,
    CASE WHEN CAST(TO_CHAR(Created_Date, 'D') AS INTEGER) NOT IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekday,
    CAST(TO_CHAR(Created_Date, 'HH24') AS INTEGER) AS hour_of_day,
    CAST(TO_CHAR(Created_Date, 'Q') AS INTEGER) AS quarter_of_year
FROM facts
UNION
SELECT DISTINCT TO_CHAR(Last_Update_Date, 'YYYY-MM-DD HH24:00:00') AS hour,
    TO_CHAR(Last_Update_Date, 'YYYY-MM-DD') AS day, 
    CAST(TO_CHAR(Last_Update_Date, 'YYYY') AS INTEGER) AS year,
    TO_CHAR(Last_Update_Date, 'Month') AS month_of_year_str,
    CAST(TO_CHAR(Last_Update_Date, 'MM') AS INTEGER) AS month_of_year,
    CAST(TO_CHAR(Last_Update_Date, 'DD') AS INTEGER) AS day_of_month,
    TO_CHAR(Last_Update_Date, 'Day') AS day_of_week_str,
    CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) AS day_of_week,
    CASE WHEN CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekend,
    CASE WHEN CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) NOT IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekday,
    CAST(TO_CHAR(Last_Update_Date, 'HH24') AS INTEGER) AS hour_of_day,
    CAST(TO_CHAR(Last_Update_Date, 'Q') AS INTEGER) AS quarter_of_year
FROM facts
UNION
SELECT DISTINCT TO_CHAR(Last_Update_Date, 'YYYY-MM-DD HH24:00:00') AS hour,
    TO_CHAR(Last_Update_Date, 'YYYY-MM-DD') AS day, 
    CAST(TO_CHAR(Last_Update_Date, 'YYYY') AS INTEGER) AS year,
    TO_CHAR(Last_Update_Date, 'Month') AS month_of_year_str,
    CAST(TO_CHAR(Last_Update_Date, 'MM') AS INTEGER) AS month_of_year,
    CAST(TO_CHAR(Last_Update_Date, 'DD') AS INTEGER) AS day_of_month,
    TO_CHAR(Last_Update_Date, 'Day') AS day_of_week_str,
    CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) AS day_of_week,
    CASE WHEN CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekend,
    CASE WHEN CAST(TO_CHAR(Last_Update_Date, 'D') AS INTEGER) NOT IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekday,
    CAST(TO_CHAR(Last_Update_Date, 'HH24') AS INTEGER) AS hour_of_day,
    CAST(TO_CHAR(Last_Update_Date, 'Q') AS INTEGER) AS quarter_of_year
FROM facts
UNION
SELECT DISTINCT TO_CHAR(Close_Date, 'YYYY-MM-DD HH24:00:00') AS hour,
    TO_CHAR(Close_Date, 'YYYY-MM-DD') AS day, 
    CAST(TO_CHAR(Close_Date, 'YYYY') AS INTEGER) AS year,
    TO_CHAR(Close_Date, 'Month') AS month_of_year_str,
    CAST(TO_CHAR(Close_Date, 'MM') AS INTEGER) AS month_of_year,
    CAST(TO_CHAR(Close_Date, 'DD') AS INTEGER) AS day_of_month,
    TO_CHAR(Close_Date, 'Day') AS day_of_week_str,
    CAST(TO_CHAR(Close_Date, 'D') AS INTEGER) AS day_of_week,
    CASE WHEN CAST(TO_CHAR(Close_Date, 'D') AS INTEGER) IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekend,
    CASE WHEN CAST(TO_CHAR(Close_Date, 'D') AS INTEGER) NOT IN (1, 7) 
        THEN TRUE
        ELSE FALSE
    END AS is_weekday,
    CAST(TO_CHAR(Close_Date, 'HH24') AS INTEGER) AS hour_of_day,
    CAST(TO_CHAR(Close_Date, 'Q') AS INTEGER) AS quarter_of_year
FROM facts;

30318 rows affected.

[]

In [23]:
%%sql
SELECT * from hour limit 5;

5 rows affected.

[(1, '2015-10-16 06:00:00', '2015-10-16', 2015, 'October  ', 10, 16, 'Friday   ', 6, False, True, 6, 4),
 (2, '2017-09-22 00:00:00', '2017-09-22', 2017, 'September', 9, 22, 'Friday   ', 6, False, True, 0, 3),
 (3, '2014-01-26 16:00:00', '2014-01-26', 2014, 'January  ', 1, 26, 'Sunday   ', 1, True, False, 16, 1),
 (4, '2015-09-24 16:00:00', '2015-09-24', 2015, 'September', 9, 24, 'Thursday ', 5, False, True, 16, 3),
 (5, '2017-03-15 08:00:00', '2017-03-15', 2017, 'March    ', 3, 15, 'Wednesday', 4, False, True, 8, 1)]

In [24]:
%%sql
ALTER TABLE facts
ADD COLUMN Status_Change_Date_key INTEGER,
ADD CONSTRAINT fk_Status_Change_Date_key
    FOREIGN KEY (Status_Change_Date_key)
    REFERENCES hour (hour_key),
ADD COLUMN Created_Date_key INTEGER,
ADD CONSTRAINT fk_Created_Date_key
    FOREIGN KEY (Created_Date_key)
    REFERENCES hour (hour_key),
ADD COLUMN Last_Update_Date_key INTEGER,
ADD CONSTRAINT fk_Last_Update_Date_key
    FOREIGN KEY (Last_Update_Date_key)
    REFERENCES hour (hour_key), 
ADD COLUMN Close_Date_key INTEGER,
ADD CONSTRAINT fk_Close_Date_key
    FOREIGN KEY (Close_Date_key)
    REFERENCES hour (hour_key);

Done.

[]

In [25]:
%%sql
Select status_change_date,hour.hour_key
FROM facts,hour
WHERE TO_CHAR(facts.status_change_date, 'YYYY-MM-DD HH24:00:00') = hour.hour
limit 10;

10 rows affected.

[(datetime.datetime(2016, 5, 6, 19, 51, 27, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 18215),
 (datetime.datetime(2016, 5, 6, 20, 22, 56, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 24850),
 (datetime.datetime(2016, 12, 15, 9, 5, 43, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 29125),
 (datetime.datetime(2016, 5, 10, 16, 56, 52, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 28537),
 (datetime.datetime(2016, 5, 10, 6, 58, 1, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 2179),
 (datetime.datetime(2016, 5, 11, 16, 41, 32, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 10402),
 (datetime.datetime(2016, 5, 11, 16, 42, 25, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 10402),
 (datetime.datetime(2016, 5, 11, 16, 43, 10, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 10402),
 (datetime.datetime(2016, 5, 11, 16, 43, 54, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 10402),
 (datetime.datetime(2016, 10, 18, 9, 47, 40, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 26582)]

In [26]:
%%sql
UPDATE facts
SET Status_Change_Date_key = hour.hour_key
FROM hour
WHERE TO_CHAR(facts.status_change_date, 'YYYY-MM-DD HH24:00:00') = hour.hour;

344794 rows affected.

[]

In [27]:
%%sql
UPDATE facts
SET Created_Date_key = hour.hour_key
FROM hour
WHERE hour.hour  = TO_CHAR(facts.Created_Date, 'YYYY-MM-DD HH24:00:00')

344794 rows affected.

[]

In [28]:
%%sql
UPDATE facts
SET Last_Update_Date_key = hour.hour_key
FROM hour
WHERE hour.hour  = TO_CHAR(facts.Last_Update_Date, 'YYYY-MM-DD HH24:00:00')

344794 rows affected.

[]

In [29]:
%%sql
UPDATE facts
SET Close_Date_key = hour.hour_key
FROM hour
WHERE hour.hour  = TO_CHAR(facts.Close_Date, 'YYYY-MM-DD HH24:00:00')

344794 rows affected.

[]

In [30]:
%%sql
SELECT * from facts limit 5;

5 rows affected.

[('16-00124526', 'SIGNNEWT', 'Sign - New', 'Transportation', 'Phone', 'Closed', datetime.datetime(2016, 8, 22, 8, 57, 31, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 5, 23, 15, 57, 51, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 8, 22, 8, 57, 32, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2016, 8, 22, 8, 57, 31, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '2501 ANKEN DR, AUSTIN, TX 78741', '2501.0', 'ANKEN', 'AUSTIN', 78741, 'TRAVIS', '3119406.5', '10056791.0', Decimal('30.22935833'), Decimal('-97.72771244'), '(30.22935833, -97.72771244)', 3, '615Y', 'MK19', 3415, 3286, 3415, 3415),
 ('14-00043722', 'SBPAVEFA', 'Pavement Failure', 'Public Works', 'Phone', 'Closed', datetime.datetime(2014, 3, 14, 14, 6, 14, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 3, 13, 19, 51, 49, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 3, 14, 14, 6, 14, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 3, 14, 14, 6, 14, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '7800 BRODIE LN, AUSTIN, TX', '7800.0', 'BRODIE', 'AUSTIN', 78749, 'TRAVIS', '3085236.75', '10047209.0', Decimal('30.20517329'), Decimal('-97.83656101'), '(30.20517329, -97.83656101)', 8, '642R', 'MD17', 8491, 29646, 8491, 8491),
 ('14-00132509', 'SBDEBROW', 'Debris in Street', 'Public Works', 'Phone', 'Closed', datetime.datetime(2014, 7, 2, 9, 31, 38, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 7, 2, 9, 16, 28, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 7, 2, 9, 31, 39, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 7, 2, 9, 31, 38, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1750 W 5TH ST, AUSTIN, TX', '1750.0', '5TH', 'AUSTIN', 78703, 'TRAVIS', '3107115.37', '10073262.92', Decimal('30.27542286'), Decimal('-97.76541674'), '(30.27542286, -97.76541674)', 9, '584Q', 'MH23', 19916, 19916, 19916, 19916),
 ('14-00250083', 'ACLONAG', 'Loose Dog', 'Animal Services Office', 'Phone', 'Closed', datetime.datetime(2014, 12, 8, 15, 8, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 11, 19, 17, 16, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 12, 8, 14, 10, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2014, 12, 8, 15, 8, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '1101 ASH CV, AUSTIN, TX', '1101.0', 'ASH', 'AUSTIN', 78753, 'TRAVIS', '3136512.08', '10110023.51', Decimal('30.37457128'), Decimal('-97.66952909'), '(30.37457128, -97.66952909)', 1, '496V', 'MM31', 9400, 21091, 21529, 9400),
 ('15-00044206', 'SBPAVEFA', 'Pavement Failure', 'Public Works', 'Phone', 'Closed', datetime.datetime(2015, 3, 9, 15, 21, 54, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2015, 3, 7, 13, 15, 32, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2015, 3, 9, 15, 21, 54, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2015, 3, 9, 15, 21, 54, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), '3007 RAY WOOD DR, AUSTIN, TX', '3007.0', 'RAY WOOD', 'AUSTIN', 78704, 'TRAVIS', '3105933.75', '10059411.0', Decimal('30.23742084'), Decimal('-97.77017001'), '(30.23742084, -97.77017001)', 3, '614U', 'MH19', 16093, 13511, 16093, 16093)]

We can now remove some columns in `facts` that are not facts nor foreign keys of dimension tables.

In [31]:
%%sql
ALTER TABLE facts
DROP COLUMN status_change_date,
DROP COLUMN created_date,
DROP COLUMN close_date,
DROP COLUMN last_update_date;

Done.

[]

Then create 'method' table.

In [32]:
%%sql
DROP TABLE IF EXISTS method;

CREATE TABLE method (
    Method_key SERIAL PRIMARY KEY,
    Method VARCHAR(64)
);

Done.
Done.

[]

In [33]:
%%sql
SELECT Method_Received,count(Method_Received)
FROM facts 
GROUP BY 1;

17 rows affected.

[('Mobile Devi', 1),
 ('Mass Entry', 6436),
 ('CSR - Follow On SR', 33),
 ('Web', 20585),
 ('Social Media', 1),
 ('Open311', 185),
 ('CSR - Follo', 1),
 ('E-Mail', 156),
 ('Interface', 4),
 ('Field Reque', 31),
 ('Spot311 Interface', 28955),
 ('Other', 9),
 ('Walk In', 2),
 ('Mail', 3),
 ('Phone', 286356),
 ('Radio', 1),
 ('Field Request', 2035)]

In [34]:
%%sql
INSERT INTO method (Method)
SELECT DISTINCT Method_Received as method
FROM facts;

17 rows affected.

[]

In [35]:
%%sql
ALTER TABLE facts
ADD COLUMN Method_key INTEGER,
ADD CONSTRAINT fk_Method_key
    FOREIGN KEY (Method_key)
    REFERENCES method (Method_key);

Done.

[]

In [36]:
%%sql
UPDATE facts
SET Method_key = method.method_key
FROM method
WHERE facts.Method_Received = method.Method;

344794 rows affected.

[]

In [37]:
%%sql
ALTER TABLE facts
DROP COLUMN Method_Received;

Done.

[]

In [38]:
%%sql
DROP TABLE  IF EXISTS Location;

SELECT Distinct SR_Location,
Street_Number,
Street_Name,
City,
Zip_Code,
County,
State_Plane_X_Coordinate,
State_Plane_Y_Coordinate,
Latitude_Coordinate,
Longitude_Coordinate,
Council_District,
Map_Page,
Map_Tile
INTO Location
FROM facts;

Done.
194092 rows affected.

[]

In [39]:
%%sql
ALTER TABLE Location
ADD COLUMN location_key SERIAL PRIMARY KEY;

Done.

[]

In [40]:
%%sql
ALTER TABLE facts
ADD COLUMN location_key INTEGER,
ADD CONSTRAINT fk_location_key
    FOREIGN KEY (location_key)
    REFERENCES location (location_key);

Done.

[]

In [41]:
%%sql
SELECT *
FROM location
limit 10 ;

10 rows affected.

[('0 BASTROP HWY NB, AUSTIN, TX', '0.0', 'BASTROP HWY', 'AUSTIN', 78725, 'TRAVIS', '3131078.8046126', '10062985.599024301', Decimal('30.24562909'), Decimal('-97.69029776'), 3, '616K', 'ML20', 1),
 ('0 E US 290 HWY EB, AUSTIN, TX', '0.0', '290', 'AUSTIN', 78724, 'TRAVIS', '3136294.85582263', '10092147.3753045', Decimal('30.32544739'), Decimal('-97.67157404'), 1, '558A', 'MQ27', 2),
 ('0 E US 290 HWY EB, AUSTIN, TX', '0.0', '290', 'AUSTIN', 78724, 'TRAVIS', '3136294.856', '10092147.38', Decimal('30.32544739'), Decimal('-97.67157404'), 1, '558A', 'MQ27', 3),
 ('0 N SH 130 NB, AUSTIN, TX', '0.0', '130', 'AUSTIN', 78653, 'TRAVIS', '3168463.31273532', '10087069.406244801', Decimal('30.30933259'), Decimal('-97.57004581'), 1, '559P', 'MS26', 4),
 ('0 RESEARCH BLVD SVRD NB, AUSTIN, TX 78758', '0.0', 'RESEARCH BLVD SVRD', 'AUSTIN', 78758, 'TRAVIS', '3118828.582', '10109080.93', Decimal('30.37313223'), Decimal('-97.72566097'), 7, '495Y', 'MK31', 5),
 ('0 SERVICE RD N/A N/A N/A, AUSTIN, TX 78758', '0.0', 'SERVICE', 'AUSTIN', 78719, 'TRAVIS', '3136878.89302637', '10048964.4706612', Decimal('30.20670769'), Decimal('-97.67299638'), 2, '646R', 'MM17', 6),
 ('10000 ANAHUAC TRL, AUSTIN, TX', '10000.0', 'ANAHUAC', 'AUSTIN', 78747, 'TRAVIS', '3101033.93605819', '10029672.133327', Decimal('30.15598249'), Decimal('-97.78783672'), 5, '704A', 'MG12', 7),
 ('10000 AUSTRAL CV, AUSTIN, TX 78739', '10000.0', 'AUSTRAL', 'AUSTIN', 78739, 'TRAVIS', '3072903.00042677', '10043209.00136', Decimal('30.19493282'), Decimal('-97.87587493'), 8, '641Z', 'MB16', 8),
 ('10000 BARRINGTON CV, AUSTIN, TX', '10000.0', 'BARRINGTON', 'AUSTIN', 78753, 'TRAVIS', '3134923.19425932', '10104507.5227323', Decimal('30.35951334'), Decimal('-97.67498423'), 4, '526H', 'MM30', 9),
 ('10000 BILBROOK PL, AUSTIN, TX', '10000.0', 'BILBROOK', 'AUSTIN', 78748, 'TRAVIS', '3091504.72891257', '10033777.8454873', Decimal('30.16786448'), Decimal('-97.81768559'), 5, '673T', 'ME13', 10)]

In [42]:
%%sql
Select count(*)
FROM location as l,facts as f
WHERE
f.sr_location= l.sr_location AND
f.SR_Location = l.SR_Location AND
f.Street_Number = l.Street_Number AND
f.Street_Name = l.Street_Name AND
f.City = l.City AND
f.Zip_Code = l.Zip_Code AND
f.County = l.County AND
f.State_Plane_X_Coordinate = l.State_Plane_X_Coordinate AND
f.State_Plane_Y_Coordinate = l.State_Plane_Y_Coordinate AND
f.Council_District = l.Council_District  AND
f.Latitude_Coordinate = l.Latitude_Coordinate AND
f.Longitude_Coordinate = l.Longitude_Coordinate AND
f.Map_Page = l.Map_Page AND
f.Map_Tile = l.Map_Tile;

1 rows affected.

[(344794,)]

In [43]:
%%sql
UPDATE facts as f
SET location_key = l.location_key
FROM location as l
WHERE 
f.sr_location= l.sr_location AND
f.SR_Location = l.SR_Location AND
f.Street_Number = l.Street_Number AND
f.Street_Name = l.Street_Name AND
f.City = l.City AND
f.Zip_Code = l.Zip_Code AND
f.County = l.County AND
f.State_Plane_X_Coordinate = l.State_Plane_X_Coordinate AND
f.State_Plane_Y_Coordinate = l.State_Plane_Y_Coordinate AND
f.Council_District = l.Council_District  AND
f.Latitude_Coordinate = l.Latitude_Coordinate AND
f.Longitude_Coordinate = l.Longitude_Coordinate AND
f.Map_Page = l.Map_Page AND
f.Map_Tile = l.Map_Tile;

344794 rows affected.

[]

In [44]:
%%sql
SELECT *
FROM facts
LIMIT 5;

5 rows affected.

[('15-00044206', 'SBPAVEFA', 'Pavement Failure', 'Public Works', 'Closed', '3007 RAY WOOD DR, AUSTIN, TX', '3007.0', 'RAY WOOD', 'AUSTIN', 78704, 'TRAVIS', '3105933.75', '10059411.0', Decimal('30.23742084'), Decimal('-97.77017001'), '(30.23742084, -97.77017001)', 3, '614U', 'MH19', 16093, 13511, 16093, 16093, 15, 87762),
 ('15-00078136', 'PWBICYCL', 'Bicycle Issues', 'Transportation', 'Closed', '5706 CLAY AVE, AUSTIN, TX 78756', '5706.0', 'CLAY', 'AUSTIN', 78756, 'TRAVIS', '3115423.5', '10094023.0', Decimal('30.33195919'), Decimal('-97.73757006'), '(30.33195919, -97.73757006)', 7, '555B', 'MJ27', 18208, 7133, 18208, 18208, 4, 133606),
 ('15-00082108', 'CONCERNS', 'Concerns in the ROW', 'Transportation', 'Closed', '8661 W SH 71, AUSTIN, TX', '8661.0', '71', 'AUSTIN', 78736, 'TRAVIS', '3066536.25', '10062993.28', Decimal('30.24970334'), Decimal('-97.89464981'), '(30.24970334, -97.89464981)', 8, '611L', 'MB20', 17017, 9898, 17017, 17017, 15, 180535),
 ('15-00112332', 'SBPOTREP', 'Pothole Repair', 'Public Works', 'Closed', '906 ROBERTSON ST, AUSTIN, TX', '906.0', 'ROBERTSON', 'AUSTIN', 78703, 'TRAVIS', '3108231.5', '10074363.0', Decimal('30.27837594'), Decimal('-97.76180134'), '(30.27837594, -97.76180134)', 9, '584Q', 'MH23', 24826, 941, 24826, 24826, 15, 186019),
 ('15-00113553', 'SBDEBROW', 'Debris in Street', 'Public Works', 'Closed', '600 E RUNDBERG LN, AUSTIN, TX', '600.0', 'RUNDBERG', 'AUSTIN', 78753, 'TRAVIS', '3130375.0', '10104307.0', Decimal('30.35926015'), Decimal('-97.68941608'), '(30.35926015, -97.68941608)', 4, '526F', 'ML30', 25194, 26976, 25194, 25194, 15, 138462)]

In [45]:
%%sql
ALTER TABLE facts
DROP COLUMN SR_Location,
DROP COLUMN Street_Number,
DROP COLUMN Street_Name,
DROP COLUMN City,
DROP COLUMN Zip_Code,
DROP COLUMN County,
DROP COLUMN State_Plane_X_Coordinate,
DROP COLUMN State_Plane_Y_Coordinate,
DROP COLUMN latitude_coordinate,
DROP COLUMN longitude_coordinate,
DROP COLUMN latitude_longitude,
DROP COLUMN council_district,
DROP COLUMN map_page,
DROP COLUMN map_tile;

Done.

[]

In [46]:
%%sql
SELECT *
FROM facts
LIMIT 5;

5 rows affected.

[('15-00113553', 'SBDEBROW', 'Debris in Street', 'Public Works', 'Closed', 25194, 26976, 25194, 25194, 15, 138462),
 ('14-00072137', 'OBSTMIDB', 'Obstruction in ROW', 'Public Works', 'Closed', 2903, 18679, 2903, 2903, 15, 187333),
 ('15-00150781', 'PARMACIS', 'Parking Machine Issue', 'Transportation', 'Closed', 303, 11476, 303, 303, 15, 57129),
 ('15-00044830', 'SBCURBGU', 'Curb/Gutter Repair', 'Public Works', 'Closed', 11315, 9001, 11315, 11315, 4, 25896),
 ('15-00048717', 'SIGNNEWT', 'Sign - New', 'Transportation', 'Closed', 3605, 15013, 993, 993, 15, 2349)]

In [47]:
%%sql
DROP TABLE  IF EXISTS Service_type;

SELECT Distinct
sr_type_code,
sr_description,
owning_department
INTO Service_type
FROM facts;

Done.
146 rows affected.

[]

In [48]:
%%sql
ALTER TABLE Service_type
ADD COLUMN Service_type_key SERIAL PRIMARY KEY;

Done.

[]

In [49]:
%%sql
ALTER TABLE facts
ADD COLUMN Service_type_key INTEGER,
ADD CONSTRAINT fk_Service_type_key
    FOREIGN KEY (Service_type_key)
    REFERENCES Service_type (Service_type_key);

Done.

[]

In [50]:
%%sql
Select count(*)
FROM Service_type as s,facts as f
WHERE
s.sr_type_code = f.sr_type_code AND
s.sr_description = f.sr_description AND
s.owning_department = f.owning_department;

1 rows affected.

[(344794,)]

In [51]:
%%sql
UPDATE facts as f
SET Service_type_key = s.Service_type_key
FROM Service_type as s
WHERE 
s.sr_type_code = f.sr_type_code AND
s.sr_description = f.sr_description AND
s.owning_department = f.owning_department;

344794 rows affected.

[]

In [52]:
%%sql
SELECT *
FROM facts
LIMIT 5;

5 rows affected.

[('15-00044830', 'SBCURBGU', 'Curb/Gutter Repair', 'Public Works', 'Closed', 11315, 9001, 11315, 11315, 4, 25896, 99),
 ('15-00048717', 'SIGNNEWT', 'Sign - New', 'Transportation', 'Closed', 3605, 15013, 993, 993, 15, 2349, 117),
 ('15-00180232', 'SIGNNEWT', 'Sign - New', 'Transportation', 'Closed', 11873, 15103, 11873, 11873, 11, 92135, 117),
 ('15-00204499', 'SBSIDERE', 'Sidewalk Repair', 'Public Works', 'Closed', 28709, 20332, 28709, 28709, 15, 76845, 108),
 ('15-00238923', 'SBPOTREP', 'Pothole Repair', 'Public Works', 'Closed', 5919, 9679, 5919, 5919, 15, 115568, 105)]

In [53]:
%%sql
ALTER TABLE facts
DROP COLUMN sr_type_code,
DROP COLUMN sr_description,
DROP COLUMN owning_department;

Done.

[]

we finished the star schema.

In [54]:
from IPython.display import Image
url = "https://s3.amazonaws.com/leiwen/dmfa/star_schema.jpg"
Image(url=url)

In [55]:
%%sql
SELECT *
FROM facts
LIMIT 5;

5 rows affected.

[('15-00238923', 'Closed', 5919, 9679, 5919, 5919, 15, 115568, 105),
 ('15-00272716', 'Closed', 29200, 2474, 29200, 29200, 4, 77580, 88),
 ('16-00042718', 'Closed', 24333, 24333, 24333, 24333, 4, 77665, 133),
 ('15-00122157', 'Closed', 6360, 3132, 11444, 6360, 15, 166057, 100),
 ('16-00105960', 'Closed', 2198, 11616, 2198, 2198, 15, 146717, 117)]

In [56]:
%%sql
SELECT *
FROM hour
LIMIT 5;

5 rows affected.

[(1, '2015-10-16 06:00:00', '2015-10-16', 2015, 'October  ', 10, 16, 'Friday   ', 6, False, True, 6, 4),
 (2, '2017-09-22 00:00:00', '2017-09-22', 2017, 'September', 9, 22, 'Friday   ', 6, False, True, 0, 3),
 (3, '2014-01-26 16:00:00', '2014-01-26', 2014, 'January  ', 1, 26, 'Sunday   ', 1, True, False, 16, 1),
 (4, '2015-09-24 16:00:00', '2015-09-24', 2015, 'September', 9, 24, 'Thursday ', 5, False, True, 16, 3),
 (5, '2017-03-15 08:00:00', '2017-03-15', 2017, 'March    ', 3, 15, 'Wednesday', 4, False, True, 8, 1)]

In [57]:
%%sql
SELECT *
FROM Method
LIMIT 5;

5 rows affected.

[(1, 'Mobile Devi'),
 (2, 'Mass Entry'),
 (3, 'CSR - Follow On SR'),
 (4, 'Web'),
 (5, 'Social Media')]

In [58]:
%%sql
SELECT *
FROM Location
LIMIT 5;

5 rows affected.

[('0 BASTROP HWY NB, AUSTIN, TX', '0.0', 'BASTROP HWY', 'AUSTIN', 78725, 'TRAVIS', '3131078.8046126', '10062985.599024301', Decimal('30.24562909'), Decimal('-97.69029776'), 3, '616K', 'ML20', 1),
 ('0 E US 290 HWY EB, AUSTIN, TX', '0.0', '290', 'AUSTIN', 78724, 'TRAVIS', '3136294.85582263', '10092147.3753045', Decimal('30.32544739'), Decimal('-97.67157404'), 1, '558A', 'MQ27', 2),
 ('0 E US 290 HWY EB, AUSTIN, TX', '0.0', '290', 'AUSTIN', 78724, 'TRAVIS', '3136294.856', '10092147.38', Decimal('30.32544739'), Decimal('-97.67157404'), 1, '558A', 'MQ27', 3),
 ('0 N SH 130 NB, AUSTIN, TX', '0.0', '130', 'AUSTIN', 78653, 'TRAVIS', '3168463.31273532', '10087069.406244801', Decimal('30.30933259'), Decimal('-97.57004581'), 1, '559P', 'MS26', 4),
 ('0 RESEARCH BLVD SVRD NB, AUSTIN, TX 78758', '0.0', 'RESEARCH BLVD SVRD', 'AUSTIN', 78758, 'TRAVIS', '3118828.582', '10109080.93', Decimal('30.37313223'), Decimal('-97.72566097'), 7, '495Y', 'MK31', 5)]

In [59]:
%%sql
SELECT *
FROM Service_type
LIMIT 5;

5 rows affected.

[('ACBITE2', 'Animal Bite', 'Animal Services Office', 1),
 ('ACCOYTE', 'Coyote Complaints', 'Animal Services Office', 2),
 ('ACFOUND', 'Found Animal - Pick Up', 'Animal Services Office', 3),
 ('ACINFORM', 'Animal Control - Assistance Request', 'Animal Services Office', 4),
 ('ACLOANIM', 'Loose Animal (not dog)', 'Animal Services Office', 5)]